.cr-wizard-wrap {
	position: absolute;
	width: 1280px;
	height: 800px;
	top: 50%;
	left: 50%;
	margin: 0;
	margin-top: -400px;
	margin-left: -640px;
	background-color: #3d3d3d;
	/* padding: 10px 0 0 10px; */
}

.wizard.vertical > .steps {
	width: 346px;
	/* border: 2px solid #1d1d1b;
	border-radius: 8px; */
	padding-top: 8px;
}

.wizard.vertical > .content {
	width: 912px;
	height: 800px;
/*	border: 2px solid #1d1d1b;
	border-radius: 8px; */
	float: right;
	margin: 0 8px 0 0;
}

.wizard > .content {
	background-color: transparent;
}

.cr-wizard-step-01 {
	background-image: url('../img/step-01.png');
	width: 100%;
	height: 100%;
}

.cr-wizard-step-02 {
	background-image: url('../img/step-02.png');
	width: 100%;
	height: 100%;
}

.cr-wizard-step-03 {
	background-image: url('../img/step-03.png');
	width: 100%;
	height: 100%;
}

.wizard > .content > .body {
	width: 100%;
	height: 100%;
	padding: 0;
}

.wizard > .actions {
	position: absolute;
	bottom: 24px;
	right: 24px;
}

.wizard > .steps a, 
.wizard > .steps a:hover, 
.wizard > .steps a:active, 
.wizard > .steps .disabled a, 
.wizard > .steps .disabled a:hover, 
.wizard > .steps .disabled a:active, 
.wizard > .steps .current a, 
.wizard > .steps .current a:hover, 
.wizard > .steps .current a:active, 
.wizard > .steps .done a, 
.wizard > .steps .done a:hover, 
.wizard > .steps .done a:active {
	background-image: url('../img/buttons-346x64.svg');
	background-repeat: no-repeat;
	background-color: #3d3d3d;
	padding: 1.3em;
	padding-left: 64px;
	color: #00fff2;
	text-decoration: small-caps;
}

.wizard > .steps .current a, 
.wizard > .steps .current a:hover, 
.wizard > .steps .current a:active { 
	background-position: -346px 0;
}

.wizard > .steps .disabled a, 
.wizard > .steps .disabled a:hover, 
.wizard > .steps .disabled a:active {
	background-position: -692px 0;
	color: #00c3ad;
}	

.wizard > .steps .done a, 
.wizard > .steps .done a:hover, 
.wizard > .steps .done a:active {
	background-position: -1038px 0;
}

.wizard > .steps .current:nth-child(2) a, 
.wizard > .steps .current:nth-child(2) a:hover, 
.wizard > .steps .current:nth-child(2) a:active { 
	background-position: -346px -74px;
}

.wizard > .steps .disabled:nth-child(2) a, 
.wizard > .steps .disabled:nth-child(2) a:hover, 
.wizard > .steps .disabled:nth-child(2) a:active {
	background-position: -692px -74px;
	color: #00c3ad;
}	

.wizard > .steps .done:nth-child(2) a, 
.wizard > .steps .done:nth-child(2) a:hover, 
.wizard > .steps .done:nth-child(2) a:active {
	background-position: -1038px -74px;
}

.wizard > .steps .current:nth-child(3) a, 
.wizard > .steps .current:nth-child(3) a:hover, 
.wizard > .steps .current:nth-child(3) a:active { 
	background-position: -346px -148px;
}

.wizard > .steps .disabled:nth-child(3) a, 
.wizard > .steps .disabled:nth-child(3) a:hover, 
.wizard > .steps .disabled:nth-child(3) a:active {
	background-position: -692px -148px;
	color: #00c3ad;
}	

.wizard > .steps .done:nth-child(3) a, 
.wizard > .steps .done:nth-child(3) a:hover, 
.wizard > .steps .done:nth-child(3) a:active {
	background-position: -1038px -148px;
}
